@mixin respond($screen) {
    @if $screen == large-desktop {
        @media screen and (min-width: $screen-lg) { // 1200px <= screen
            @content;
        }
    }
    @if $screen == desktop-up {
        @media screen and (min-width: $screen-md) { // 900px <= screen
            @content;
        }
    }
    @if $screen == tablet-up {
        @media screen and (min-width: $screen-sm) { // 600px <= screen
            @content;
        }
    }
    @if $screen == tablet-max {
        @media screen and (max-width: $screen-sm) { // 600px >= screen
            @content;
        }
    }
    @if $screen == mobile-only {
        @media screen and (max-width: $screen-xs) { // screen <= 420px
            @content;
        }
    }
}