body {
    background-color: black;
    text-align: center;
}

#stage-wrapper {
    display: inline-block;
    margin-top: 50px;
    border: 2px solid #85aeca;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}

canvas {
    display: block;
}