// https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// $screen-xs: 420px;
// $screen-sm: 600px;
// $screen-md: 900px;
// $screen-lg: 1200px;

// $grid-gutter-width: 30px;
// $container-tablet: (380px + $grid-gutter-width);
// $container-desktop: (700px + $grid-gutter-width);
// $container-large-desktop: $container-desktop;

$font-family-sans-serif: 'Orbitron', sans-serif;
// $body-bg: #369de2;
// $text-color: #fff;
// $link-color: $text-color;
// $link-hover-color: $text-color;